/* header */


body {
    margin: 0;
    background-color: #142728;
}

#logoennav {
    background-color: #045A5F;
}

header {
    background-color: #045A5F;
    display: grid;
    grid-template-columns: 200px 400px auto 200px;
}

#logoennav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#explorar {
    display: flex;
    justify-content: left;
}

.pinenlace {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

#Mensajes {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

#botonUsuario {
    display: flex;
    justify-content: flex-start;
}

/* cuerpo */

#body {
    display: grid;

    grid-template-columns: auto;
    padding: 20px;
}

#biginsert {
    background-color: #045A5F;
    border-radius: 20px;
}

#noticias {
    background-color: #045A5F;
    border-radius: 20px;
}



#insert {
    display: grid;
    grid-template-rows: auto auto;
}

.loco {
    display: grid;
    grid-template-columns: 20px auto 20px;
}

#upbody {
    display: grid;
    grid-template-columns: 100px 10px 100px 10px 100px 10px 100px auto;
    padding-left: 30px;
}

.upbody {
    background-color: #024348;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

#act {
    background-color: #045A5F;
}

h2, h3 {
    color: white;
    padding-left: 20px;
}

.jefetodo {
    display: grid;
    grid-template-rows: 180px 50px auto;
    padding: 40px;
}

.jefeimagen {
    display: flex;
    justify-content: center;
    color: white;
}

.jefenombre {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.juegonombre {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 15px;
}

#insert {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: white;
    padding-left: 20px;
}

.loco {
    display: grid;
    grid-template-columns: 20px auto 20px;
}

.imagenjefe {
    border-radius: 5px;
}

#buscador {
    padding: 10px;
}